SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
ANALYTICS_BACKEND=supabase
BIGQUERY_PROJECT_ID=plabfootball-51bf5
BIGQUERY_DATASET_SOURCE_DATA_MART=data_mart
BIGQUERY_DATASET_SOURCE_GOOGLESHEETS=googlesheets
BIGQUERY_DATASET_SERVING=kevin_serving
ANTHROPIC_API_KEY=
NEXT_PUBLIC_APP_URL=
