NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
SUPABASE_URL=your_supabase_url
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key
SUPABASE_DB_URI=your_db_uri
ANALYTICS_BACKEND=bigquery
BIGQUERY_PROJECT_ID=your_project_id
BIGQUERY_DATASET_SOURCE_DATA_MART=data_mart
BIGQUERY_DATASET_SOURCE_GOOGLESHEETS=googlesheets
BIGQUERY_DATASET_SERVING=kevin_serving
BIGQUERY_LOCATION=asia-northeast3
BIGQUERY_ACCESS_TOKEN=your_access_token